In [445]:
import pandas as pd
import numpy as np 
from category_encoders import BinaryEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import pickle
from sklearn.cluster import KMeans
from sklearn.cluster import DBSCAN
from sklearn.decomposition import PCA
import random
import matplotlib.pyplot as plt

In [446]:
cb_df = pd.read_csv('similarpostsfeatureset.csv')
cb_df['features'].fillna('',inplace=True)

In [447]:
def title_from_index(index):
    return cb_df[cb_df.index == index]['title'].values[0]

def index_from_title(title):
    return cb_df[cb_df.title == title].index.values[0]

In [448]:
#Precalculated on updating dataset
cv = CountVectorizer()
count_matrix = cv.fit_transform(cb_df['features'])

cosine_sim = cosine_similarity(count_matrix)

Similar Posts takes post name as a parameter to look for other related posts.

In [449]:
def related_posts(post_name):

    post_index = index_from_title(post_name)
    similar_post = list(enumerate(cosine_sim[post_index]))
    sorted_similar_post = sorted(similar_post, key= lambda x:x[1], reverse=True)
    i=0
    for post in sorted_similar_post:
        print(title_from_index(post[0]))
        i = i+1
        if i==5:
            break

In [450]:
related_posts('Ml and AI')

Ml and AI
10 Best Artificial Intelligence (AI) Courses Online for 2020
8 Best Machine Learning Courses for 2020
Artificial Intelligence
Types Of AI.

Recommendation system

In [451]:
X_train = pickle.load(open('X_train.pickle','rb'))
X_test = pickle.load(open('X_test.pickle','rb'))
y_train = pickle.load(open('y_train.pickle','rb'))
y_test = pickle.load(open('y_test.pickle','rb'))
posts_df = pickle.load(open('postcat.pickle','rb'))
postviewer = pickle.load(open('postviewer.pickle','rb'))
views = pickle.load(open('views.pickle','rb'))
posts_df['cate'] = posts_df['cate'].astype('str')

In [452]:
X_map = views
views

       Category  gender  academics post_type
0     011011000       0          1         1
1     001001010       1          1         3
2     000001111       1          1         1
3     001011111       1          1         3
4     001001010       1          1         3
...         ...     ...        ...       ...
1444  000000100       1          1         1
1445  001101011       1          1         1
1446  000000100       1          1         1
1447  001101111       1          1         3
1448  000010101       1          1         1

[1447 rows x 4 columns]

In [453]:
posts_df

,_id,title,category,post_type,cate
0,5d62abaa65218653a132c956,hello there,Plant Biotechnology,blog,000000001
1,5d6d39567fa40e1417a4931c,Ml and AI,Artificial Intelligence|Machine Learning|Infor...,blog,000000010
2,5d7d23315720533e15c3b1ee,What is an Operating System ?,Operating Systems,blog,000000011
3,5d7d405e5720533e15c3b1f3,Lord Shiva,Drawings,artwork,000000100
4,5d80dfbc6c53455f896e600e,How Competition law evolved?,Competition Laws,blog,000000101
...,...,...,...,...,...
488,5ed3791976027d35905ccab6,CI/CD using GitHub Actions,Computer Technology|Information Technology,blog,000001011
489,5ed3820f76027d35905ccac8,Configure Docker with Django; PostgreSQL; Pg-a...,Computer Technology|Computer Application|Infor...,blog,001001010
490,5ed3ef4cbd514d602c1530f2,Recommendation Engine,NaN,project,000010001
491,5ed415c6bd514d602c15312d,Face Recognition using Transfer Learning.,Science; Technology,skill,011101000
492,5ed4cbadbd514d602c1531a6,Configure CI/CD Pipeline in GitLab and deploym...,Computer Technology|Computer Application|Infor...,blog,001001010

In [454]:
X_train = np.array(X_train)
X_test = np.array(X_test)
y_train = np.array(y_train)
y_test = np.array(y_test)
views = np.array(views)
len(views)

1447

In [455]:
algo = KMeans(n_clusters=15, init='k-means++')
# algo = DBSCAN()
algo.fit(views)
# print(algo.labels_)


# y_pred = algo.fit_predict(views)
# plt.scatter(views[:,0], views[:,1],c=y_pred, cmap='Paired')
# plt.title("Kmeans")

KMeans(n_clusters=15)

In [456]:
# from sklearn.metrics.cluster import completeness_score
# print completeness_score([0, 0, 1, 1], [1, 1, 0, 0])
# #Output : 1.0

In [457]:
#clustering with all datapoints

cluster_map = pd.DataFrame()

cluster_map['cluster'] = algo.labels_
cluster_map['category'] = X_map['Category']
cluster_map

      cluster   category
0           1  011011000
1           0  001001010
2           2  000001111
3          11  001011111
4           0  001001010
...       ...        ...
1442        2  001101010
1443       12  000000100
1444        2  000000100
1445       12  001101011
1446        8  000000100

[1447 rows x 2 columns]

In [458]:
x = cluster_map['cluster'].tolist()
x = [int(i) for i in x]
y = views.tolist()
plt.scatter(x,y)
plt.show

ValueError: x and y must be the same size

In [381]:
postviewer['Categoryenc']= postviewer['Categoryenc'].astype(str)
postviewer

                       user_id                   post_id Categoryenc
0     5df49b32cc709107827fb3c7  5ec821ddec493f4a2655889e   011011000
1     5ed3748576027d35905ccaab  5ed4cbadbd514d602c1531a6   001001010
2     5ed0defa76027d35905cc2de  5eac305f10426255a7aa9dd3   000001111
3     5ed0defa76027d35905cc2de  5ed1ff0276027d35905cc60d   001011111
4     5ed0defa76027d35905cc2de  5ed3820f76027d35905ccac8   001001010
...                        ...                       ...         ...
1444  5d60098a653a331687083238  5e7a60edcfc8b713f5ac7d82   000000100
1445  5d60098a653a331687083238  5e7a629ccfc8b713f5ac7d84   001101011
1446  5d60098a653a331687083238  5e7b1e65cfc8b713f5ac7d90   000000100
1447  5d60098a653a331687083238  5e7cc074cfc8b713f5ac7db0   001101111
1448  5d60098a653a331687083238  5e1029f22a37d20505da2a79   000010101

[1449 rows x 3 columns]

In [382]:
def get_category(userid):
    encoded = postviewer[postviewer['user_id'] == userid]['Categoryenc'].tolist()
    # print(encoded)
    i = random.randint(0,len(encoded)-1)
    go = encoded[i]
    return go

In [383]:
def recommendation(usercategory):
    clusternum = cluster_map[cluster_map['category'] == usercategory]['cluster'].tolist()
    # print(clusternum)
    i = random.randint(0, len(clusternum)-1)
    # print(i)
    number = clusternum[i]
    # print(number)
    category = cluster_map[cluster_map['cluster'] == number]['category'].tolist()
    # print(category)
    i = random.randint(0, len(category)-1)
    # print(i)
    categorychoice = category[i]
    # print(categorychoice)
    postrec = posts_df[posts_df['cate'] == categorychoice]['title'].tolist()
    # print(postrec)
    if len(postrec) > 0:
        i = random.randint(0, len(postrec)-1)
        if postrec[i]:
            a = postrec[i]
            return a
        else:

            print('Please Check out other categories')
            
             
    else:
        print('Need more data :(')

In [384]:
# usercat = get_category('5ed0defa76027d35905cc2de')
recommendation('001001010')

'Decision Making with 7 steps !!!'

Final Recommedation engine function

In [385]:
def engine(user):
    userchoice = get_category(user)
    post = recommendation(userchoice)
    return post

Usage:

1) Enter Usersid as parameter call
 
2) It will look into cluster group to find posts relevant to the categories the user has viewed.

In [498]:
engine('5ed0defa76027d35905cc2de')

'Your reaction can change your destination.'